.center_div{
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_div{
  width: 100%;
  height: 100vh;
  background-color: #badc58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  color: blue;
  background-color: transparent;
  font-size: 70px;
  /* background-color: #30336b; */
  /* padding: 6px 2px 0; */
  margin-bottom: 50px;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

button{
  min-height: 40px;
  border-radius: 5%;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover{
  background-color: #22a6b3;
}

.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.btn_red:hover{
  color: red;
}

.btn_green:hover{
  color: #23d573;
}